{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/webhooks",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"id\": \"55a66450b27a6502512881be\",\n  \"url\": \"https://example.com\",\n  \"event\": \"68c57e6752d5e0a5\",\n  \"created_at\": \"2015-07-15T13:46:56.348Z\",\n  \"hookUrl\": \"https://api.particle.io/v1/webhooks/55a66450b27a6502512881be\",\n  \"ok\": true\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:56 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/webhooks/55a66450b27a6502512881be",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n  \"webhook\": {\n    \"id\": \"55a66450b27a6502512881be\",\n    \"url\": \"https://example.com\",\n    \"deviceID\": null,\n    \"event\": \"68c57e6752d5e0a5\",\n    \"created_at\": \"2015-07-15T13:46:56.348Z\",\n    \"mydevices\": null,\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": null\n  },\n  \"response\": \"<!doctype html>\\n<html>\\n<head>\\n    <title>Example Domain</title>\\n\\n    <meta charset=\\\"utf-8\\\" />\\n    <meta http-equiv=\\\"Content-type\\\" content=\\\"text/html; charset=utf-8\\\" />\\n    <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1\\\" />\\n    <style type=\\\"text/css\\\">\\n    body {\\n        background-color: #f0f0f2;\\n        margin: 0;\\n        padding: 0;\\n        font-family: \\\"Open Sans\\\", \\\"Helvetica Neue\\\", Helvetica, Arial, sans-serif;\\n        \\n    }\\n    div {\\n        width: 600px;\\n        margin: 5em auto;\\n        padding: 50px;\\n        background-color: #fff;\\n        border-radius: 1em;\\n    }\\n    a:link, a:visited {\\n        color: #38488f;\\n        text-decoration: none;\\n    }\\n    @media (max-width: 700px) {\\n        body {\\n            background-color: #fff;\\n        }\\n        div {\\n            width: auto;\\n            margin: 0 auto;\\n            border-radius: 0;\\n            padding: 1em;\\n        }\\n    }\\n    </style>    \\n</head>\\n\\n<body>\\n<div>\\n    <h1>Example Domain</h1>\\n    <p>This domain is established to be used for illustrative examples in documents. You may use this\\n    domain in examples without prior coordination or asking for permission.</p>\\n    <p><a href=\\\"http://www.iana.org/domains/example\\\">More information...</a></p>\\n</div>\\n</body>\\n</html>\\n\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:56 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/webhooks/55a66450b27a6502512881be",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"ok\": true,\n  \"status\": \"Hook Deleted\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:56 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
