{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/webhooks/557afc54f549531e36089596","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"1cc-96952aee\""]},"body":{"encoding":"UTF-8","string":"{\n  \"webhook\": {\n    \"id\": \"557afc54f549531e36089596\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"spark\",\n    \"created_at\": \"2015-06-12T15:35:48.137Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"1e4f31450edc3227992b9efc4cb7d3dd\"\n    }\n  },\n  \"response\": \"HTTP Basic: Access denied.\\n\"\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 13:05:11 GMT"}],"recorded_with":"VCR 2.9.3"}