{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/blahblah","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"32-43c76b0e\""]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"error\": \"Variable not found\"\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:38 GMT"}],"recorded_with":"VCR 2.9.3"}