{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/webhooks","body":{"encoding":"UTF-8","string":"{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"5595a3d4dcf5291b182ec82e\",\n  \"url\": \"https://example.com\",\n  \"event\": \"68c57e6752d5e0a5\",\n  \"created_at\": \"2015-07-02T20:49:24.512Z\",\n  \"hookUrl\": \"https://api.particle.io/v1/webhooks/5595a3d4dcf5291b182ec82e\",\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:49:24 GMT"},{"request":{"method":"delete","uri":"https://api.particle.io/v1/webhooks/5595a3d4dcf5291b182ec82e","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true,\n  \"status\": \"Hook Deleted\"\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:49:24 GMT"}],"recorded_with":"VCR 2.9.3"}