{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/webhooks",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"id\": \"55a66566b27a6502512881bf\",\n  \"url\": \"https://example.com\",\n  \"event\": \"68c57e6752d5e0a5\",\n  \"created_at\": \"2015-07-15T13:51:34.807Z\",\n  \"hookUrl\": \"https://api.particle.io/v1/webhooks/55a66566b27a6502512881bf\",\n  \"ok\": true\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:51:34 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/webhooks/55a66566b27a6502512881bf",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"ok\": true,\n  \"status\": \"Hook Deleted\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:51:35 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
