{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"db-a9499192\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n    \"name\": \"fried\",\n    \"last_app\": null,\n    \"last_ip_address\": \"23.28.49.17\",\n    \"last_heard\": \"2015-07-02T20:50:00.687Z\",\n    \"product_id\": 0,\n    \"connected\": true\n  }\n]"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:39 GMT"}],"recorded_with":"VCR 2.9.3"}