{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices/events","body":{"encoding":"UTF-8","string":"{\"name\":\"test\",\"data\":\"\",\"private\":true}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:34 GMT"}],"recorded_with":"VCR 2.9.3"}