{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices/events","body":{"encoding":"UTF-8","string":"{\"name\":\"test\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Thu, 25 Jun 2015 19:45:00 GMT"}],"recorded_with":"VCR 2.9.3"}