{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/clients",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"particlerb-web-client\",\"type\":\"web\",\"redirect_uri\":\"https://example.com\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":true,\"client\":{\"name\":\"particlerb-web-client\",\"type\":\"web\",\"secret\":\"285f04fb54d55ee3ef498c0d2f398752efcec1da\",\"redirect_uri\":\"https://example.com\",\"id\":\"particlerb-web-client-4601\"}}"
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:09:36 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/clients/particlerb-web-client-4601",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:10:01 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}