{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/clients",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"particlerb-installed-client\",\"type\":\"installed\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":true,\"client\":{\"name\":\"particlerb-installed-client\",\"type\":\"installed\",\"secret\":\"5d59c13c95385aac9517163ea94975b07b6c9f41\",\"id\":\"particlerb-installed-client-6477\"}}"
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:09:06 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/clients/particlerb-installed-client-6477",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:09:36 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}