{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"59-d49c476e\""]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"invalid_request\",\n  \"error_description\": \"The access token was not found\"\n}"},"http_version":null},"recorded_at":"Wed, 15 Jul 2015 13:51:37 GMT"}],"recorded_with":"VCR 2.9.3"}