{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices/1234/get","body":{"encoding":"UTF-8","string":"{\"args\":\"\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"Permission Denied\",\n  \"info\": \"I didn't recognize that device name or ID, try opening https://api.particle.io/v1/devices?access_token=undefined\"\n}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 18:53:44 GMT"}],"recorded_with":"VCR 2.9.3"}