{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/result","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"10e-6d92eafe\""]},"body":{"encoding":"UTF-8","string":"{\n  \"cmd\": \"VarReturn\",\n  \"name\": \"result\",\n  \"result\": \"3600\",\n  \"coreInfo\": {\n    \"last_app\": \"\",\n    \"last_heard\": \"2015-06-24T19:25:21.258Z\",\n    \"connected\": true,\n    \"last_handshake_at\": \"2015-06-24T19:13:11.800Z\",\n    \"deviceID\": \"__PARTICLE_DEVICE_ID_0__\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 19:25:21 GMT"}],"recorded_with":"VCR 2.9.3"}