{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__",
        "body": {
          "encoding": "UTF-8",
          "string": "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\"; filename=\"code_with_lib.ino\"\r\nContent-Length: 254\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\n#include \"led.h\"\n\nLED *myLed;\nint answer = 42;\n\nvoid setup() {\n  myLed = new LED(D0);\n  Spark.function(\"toggle\", ledToggle);\n  Spark.variable(\"answer\", &answer, INT);\n}\n\nint ledToggle(String argument) {\n  myLed->toggle();\n  return 1;\n}\n\nvoid loop() {\n\n}\n\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file1\"; filename=\"led.h\"\r\nContent-Length: 96\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\nclass LED {\n  public:\n  LED(int pin);\n  void toggle();\n\n  private:\n  int pin;\n  bool state;\n};\n\n\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file2\"; filename=\"led.cpp\"\r\nContent-Length: 215\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\n#include \"led.h\"\n#include \"application.h\"\n\nLED::LED(int pin) : pin(pin), state(false) {\n  pinMode(this->pin, OUTPUT);\n}\n\nvoid LED::toggle() {\n  this->state = !this->state;\n  digitalWrite(this->pin, this->state);\n}\n\n\r\n-------------RubyMultipartPost--\r\n\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=-----------RubyMultipartPost"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"ok\": true,\n  \"message\": \"Update started\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:50:27 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
