{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/webhooks",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"5b0967d38343ac6e331f0b9a\",\"event\":\"68c57e6752d5e0a5\",\"created_at\":\"2018-05-26T13:57:39.522Z\",\"integration_type\":\"Webhook\",\"url\":\"https://example.com\",\"noDefaults\":false,\"rejectUnauthorized\":true,\"ok\":true,\"hookUrl\":\"https://api.particle.io/v1/webhooks/5b0967d38343ac6e331f0b9a\"}"
        },
      },
      "recorded_at": "Sat, 26 May 2018 13:57:39 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/webhooks/5b0967d38343ac6e331f0b9a",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"webhook\":{\"id\":\"5b0967d38343ac6e331f0b9a\",\"event\":\"68c57e6752d5e0a5\",\"created_at\":\"2018-05-26T13:57:39.522Z\",\"logs\":[],\"errors\":[],\"counters\":[],\"url\":\"https://example.com\",\"noDefaults\":false,\"rejectUnauthorized\":true}}"
        },
      },
      "recorded_at": "Sat, 26 May 2018 13:57:42 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/webhooks/5b0967d38343ac6e331f0b9a",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Sat, 26 May 2018 13:57:43 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}