{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/webhooks/__PARTICLE_WEBHOOK_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"1ca-d383676c\""]},"body":{"encoding":"UTF-8","string":"{\n  \"webhook\": {\n    \"id\": \"__PARTICLE_WEBHOOK_ID_0__\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"hm_\",\n    \"created_at\": \"2015-06-09T00:38:21.675Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"__PARTICLE_WEBHOOK_PASSWORD__\"\n    }\n  },\n  \"response\": \"HTTP Basic: Access denied.\\n\"\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 13:22:51 GMT"}],"recorded_with":"VCR 2.9.3"}