{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices","body":{"encoding":"UTF-8","string":"{\"id\":\"__PARTICLE_DEVICE_ID_2__\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"user_id\": \"5567b7e26c438685b4000883\",\n  \"id\": \"__PARTICLE_DEVICE_ID_2__\",\n  \"connected\": true,\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Tue, 23 Jun 2015 20:07:27 GMT"}],"recorded_with":"VCR 2.9.3"}