{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/binaries","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\"; filename=\"good_code.ino\"\r\nContent-Length: 243\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\nconst int LED = D0;\nbool state = false;\n\nvoid setup() {\n    pinMode(LED, OUTPUT);\n    Spark.function(\"toggle\", ledToggle);\n}\n\nint ledToggle(String argument) {\n    state = !state;\n    digitalWrite(LED, state);\n    return 0;\n}\n\nvoid loop() {\n\n}\n\r\n-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"device_id\"\r\n\r\n__PARTICLE_DEVICE_ID_0__\r\n-------------RubyMultipartPost--\r\n\r\n"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true,\n  \"binary_id\": \"559064cf6685b4c15314daed\",\n  \"binary_url\": \"/v1/binaries/559064cf6685b4c15314daed\",\n  \"expires_at\": \"2015-06-29T21:19:11.467Z\",\n  \"sizeInfo\": \"\"\n}"},"http_version":null},"recorded_at":"Sun, 28 Jun 2015 21:19:11 GMT"}],"recorded_with":"VCR 2.9.3"}