{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"{\"product_id\":\"__PARTICLE_DEVICE_ID_0__\",\"update_after_claim\":0}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"errors\": [\n    [\n      \"product 54 does not exist\",\n      \"product 54 does not exist\"\n    ]\n  ]\n}"},"http_version":null},"recorded_at":"Sun, 28 Jun 2015 22:05:36 GMT"}],"recorded_with":"VCR 2.9.3"}