{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/webhooks","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"322-11681b81\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"id\": \"__PARTICLE_WEBHOOK_ID_0__\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"hm_\",\n    \"created_at\": \"2015-06-09T00:38:21.675Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"__PARTICLE_WEBHOOK_PASSWORD__\"\n    }\n  },\n  {\n    \"id\": \"__PARTICLE_WEBHOOK_ID_1__\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"spark\",\n    \"created_at\": \"2015-06-12T15:35:48.137Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"__PARTICLE_WEBHOOK_PASSWORD__\"\n    }\n  }\n]"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 13:21:55 GMT"}],"recorded_with":"VCR 2.9.3"}