{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/webhooks","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"322-11681b81\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"id\": \"5576357d69928dd61748b0ac\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"hm_\",\n    \"created_at\": \"2015-06-09T00:38:21.675Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"1e4f31450edc3227992b9efc4cb7d3dd\"\n    }\n  },\n  {\n    \"id\": \"557afc54f549531e36089596\",\n    \"url\": \"http://meter.munirent.co/device_events\",\n    \"deviceID\": null,\n    \"event\": \"spark\",\n    \"created_at\": \"2015-06-12T15:35:48.137Z\",\n    \"mydevices\": \"true\",\n    \"requestType\": null,\n    \"headers\": null,\n    \"json\": null,\n    \"query\": null,\n    \"auth\": {\n      \"username\": \"particle\",\n      \"password\": \"1e4f31450edc3227992b9efc4cb7d3dd\"\n    }\n  }\n]"},"http_version":null},"recorded_at":"Thu, 25 Jun 2015 21:52:28 GMT"}],"recorded_with":"VCR 2.9.3"}