{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"138-52744b99\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fried\",\n  \"connected\": true,\n  \"variables\": {\n    \"answer\": \"int32\"\n  },\n  \"functions\": [\n    \"toggle\"\n  ],\n  \"cc3000_patch_version\": \"wl0: Nov  7 2014 16:03:45 version 5.90.230.12 FWID 01-d4813443\",\n  \"product_id\": 6,\n  \"last_heard\": \"2015-07-15T13:46:58.831Z\"\n}"},"http_version":null},"recorded_at":"Wed, 15 Jul 2015 13:47:00 GMT"}],"recorded_with":"VCR 2.9.3"}