{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"signal\":\"1\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"connected\": true,\n  \"signaling\": true\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:58 GMT"
    },
    {
      "request": {
        "method": "put",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"signal\":\"0\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"connected\": true,\n  \"signaling\": false\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:58 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
