{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/clients",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"particlerb-installed-client\",\"type\":\"installed\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":true,\"client\":{\"name\":\"particlerb-installed-client\",\"type\":\"installed\",\"secret\":\"9805375c97414856fbab427230f1ef51c60e2944\",\"id\":\"particlerb-installed-client-4423\"}}"
        },
      },
      "recorded_at": "Mon, 11 Sep 2017 14:49:55 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/clients/particlerb-installed-client-4423",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Mon, 11 Sep 2017 14:50:42 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}