{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/products/__PARTICLE_PRODUCT_ID_0__/firmware/1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"updated_at\":\"2018-04-06T12:45:32.755Z\",\"uploaded_on\":\"2018-04-06T12:45:32.755Z\",\"uploaded_by\":{},\"version\":1,\"product_id\":__PARTICLE_PRODUCT_ID_0__,\"size\":37432,\"name\":\"particle_fw.bin\",\"title\":\"First FW Upload\",\"description\":\"upload description\",\"_id\":\"aaaaaaaaaaaaaaaaaaaaaaaa\",\"current\":false,\"product_default\":false,\"groups\":[]}"
        },
      },
      "recorded_at": "Wed, 09 May 2018 23:37:39 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
