{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/webhooks","body":{"encoding":"UTF-8","string":"{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"558d5ef7fc98c66474dfac1e\",\n  \"url\": \"https://example.com\",\n  \"event\": \"68c57e6752d5e0a5\",\n  \"created_at\": \"2015-06-26T14:17:27.493Z\",\n  \"hookUrl\": \"https://api.particle.io/v1/webhooks/558d5ef7fc98c66474dfac1e\",\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 14:17:27 GMT"}],"recorded_with":"VCR 2.9.3"}