{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/binaries",
        "body": {
          "encoding": "UTF-8",
          "string": "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\"; filename=\"bad_code.ino\"\r\nContent-Length: 47\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\nvoid setup() {\n}\n\nvoid loop() {\n  invalid++;\n}\n\r\n-------------RubyMultipartPost--\r\n\r\n"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=-----------RubyMultipartPost"
          ]
        }
      },
      "response": {
        "status": {
          "code": 406,
          "message": "Not Acceptable"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"ok\": false,\n  \"code\": 200,\n  \"output\": \"build didn't produce binary\",\n  \"stdout\": \"Building core-common-lib\\nmake[1]: Nothing to be done for `all'.\\n\\nBuilding core-communication-lib\\nmake[1]: Nothing to be done for `all'.\\n\\nBuilding user file: ../f40d28b98b0d40883f9f84c9307c1c99d6e10994cb0b2e4b3b67bac71ea8/bad_code.cpp\\narm-none-eabi-g++ -DUSE_STDPERIPH_DRIVER -DSTM32F10X_MD -DDFU_BUILD_ENABLE -DSPARK -I\\\"../../core-common-lib/CMSIS/Include\\\" -I\\\"../../core-common-lib/CMSIS/Device/ST/STM32F10x/Include\\\" -I\\\"../../core-common-lib/STM32F10x_StdPeriph_Driver/inc\\\" -I\\\"../../core-common-lib/STM32_USB-FS-Device_Driver/inc\\\" -I\\\"../../core-common-lib/CC3000_Host_Driver\\\" -I\\\"../../core-common-lib/SPARK_Firmware_Driver/inc\\\" -I\\\"../../core-common-lib/SPARK_Services/inc\\\" -I\\\"../libraries\\\" -I\\\"../../core-communication-lib/lib/tropicssl/include\\\" -I\\\"../../core-communication-lib/src\\\" -I\\\"../inc\\\" -Os -ffunction-sections -Wall -std=gnu++0x -fno-exceptions -fno-rtti -c -fmessage-length=0 -MMD -MP -MF\\\"../f40d28b98b0d40883f9f84c9307c1c99d6e10994cb0b2e4b3b67bac71ea8/bad_code.d\\\" -MT\\\"../f40d28b98b0d40883f9f84c9307c1c99d6e10994cb0b2e4b3b67bac71ea8/bad_code.d\\\" -mcpu=cortex-m3 -mthumb -g3 -gdwarf-2 -o \\\"../f40d28b98b0d40883f9f84c9307c1c99d6e10994cb0b2e4b3b67bac71ea8/bad_code.o\\\" \\\"../f40d28b98b0d40883f9f84c9307c1c99d6e10994cb0b2e4b3b67bac71ea8/bad_code.cpp\\\"\\n\",\n  \"errors\": [\n    \"In file included from ../inc/spark_wiring.h:29:0,\\n                 from ../inc/application.h:29,\\n                 from bad_code.cpp:2:\\n../../core-common-lib/SPARK_Firmware_Driver/inc/config.h:12:2: warning: #warning \\\"Defaulting to Release Build\\\" [-Wcpp]\\n #warning  \\\"Defaulting to Release Build\\\"\\n  ^\\nbad_code.cpp: In function 'void loop()':\\nbad_code.cpp:5:3: error: 'invalid' was not declared in this scope\\n #line 1 \\n   ^\\nmake: *** [bad_code.o] Error 1\\n\"\n  ]\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:51:34 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
