{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"[\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_4__\",\n    \"name\": \"oakland_warrior\",\n    \"last_app\": null,\n    \"last_ip_address\": \"208.72.136.251\",\n    \"last_heard\": \"2015-06-17T18:24:55.997Z\",\n    \"product_id\": 0,\n    \"connected\": false\n  },\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n    \"name\": \"fiesta\",\n    \"last_app\": null,\n    \"last_ip_address\": \"68.62.18.110\",\n    \"last_heard\": \"2015-06-24T16:45:50.814Z\",\n    \"product_id\": 0,\n    \"connected\": true\n  },\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_2__\",\n    \"name\": \"blue_pine\",\n    \"last_app\": null,\n    \"last_ip_address\": \"208.72.136.251\",\n    \"last_heard\": \"2015-06-19T21:28:48.888Z\",\n    \"product_id\": 0,\n    \"connected\": false\n  },\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_1__\",\n    \"name\": \"milan_sweeper\",\n    \"last_app\": null,\n    \"last_ip_address\": \"208.72.136.251\",\n    \"last_heard\": \"2015-06-23T00:56:30.403Z\",\n    \"product_id\": 0,\n    \"connected\": false\n  },\n  {\n    \"id\": \"__PARTICLE_DEVICE_ID_3__\",\n    \"name\": \"chelsea_sweeper\",\n    \"last_app\": null,\n    \"last_ip_address\": \"166.170.41.177\",\n    \"last_heard\": \"2015-06-24T17:05:00.564Z\",\n    \"product_id\": 0,\n    \"connected\": true\n  }\n]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 17:08:41 GMT"}],"recorded_with":"VCR 2.9.3"}