{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/webhooks/111111111111111111111111","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"22-c09c2b2e\""]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"Permission Denied\"\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 13:06:26 GMT"}],"recorded_with":"VCR 2.9.3"}