{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/toggle",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"arg\":\"\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"ok\": false,\n  \"error\": \"Timed out.\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 14:00:28 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
