{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://api.particle.io/v1/devices/1234/ping",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\":\"Permission Denied\",\"info\":\"I didn't recognize that device name or ID, try opening https://api.particle.io/v1/devices?access_token=undefined\"}"
        },
      },
      "recorded_at": "Fri, 08 Sep 2017 21:31:42 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
