{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/ping","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"online\":true,\"ok\":true}"},"http_version":null},"recorded_at":"Fri, 08 Sep 2017 21:31:05 GMT"}],"recorded_with":"VCR 2.9.3"}