{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"{\"product_id\":0,\"update_after_claim\":false}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"Nothing to do?\"\n}"},"http_version":null},"recorded_at":"Sun, 28 Jun 2015 22:06:24 GMT"}],"recorded_with":"VCR 2.9.3"}