{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/products/__PARTICLE_PRODUCT_ID_0__",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"product\":[{\"id\":__PARTICLE_PRODUCT_ID_0__,\"platform_id\":10,\"name\":\"product_name\",\"slug\":\"product_slug\",\"latest_firmware_version\":null,\"description\":\"Product Description\",\"type\":null,\"hardware_version\":\"v1.0.0\",\"config_id\":\"aaaaaaaaaaaaaaaaaaaaaaaa\",\"organization\":\"aaaaaaaaaaaaaaaaaaaaaaaa\",\"subscription_id\":99999,\"mb_limit\":null,\"groups\":[]}]}"
        },
      },
      "recorded_at": "Wed, 09 May 2018 20:11:10 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
