{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"e8-5f476e3b\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fried\",\n  \"connected\": false,\n  \"variables\": null,\n  \"functions\": null,\n  \"cc3000_patch_version\": \"wl0: Nov  7 2014 16:03:45 version 5.90.230.12 FWID 01-d4813443\",\n  \"product_id\": 6\n}"},"http_version":null},"recorded_at":"Wed, 15 Jul 2015 14:00:13 GMT"}],"recorded_with":"VCR 2.9.3"}