{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"af-2f736b1e\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fiesta\",\n  \"connected\": false,\n  \"variables\": null,\n  \"functions\": null,\n  \"cc3000_patch_version\": \"1.29\",\n  \"product_id\": 0\n}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:00:44 GMT"}],"recorded_with":"VCR 2.9.3"}