{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/clients",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"particlerb-removable-client\",\"type\":\"installed\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":true,\"client\":{\"name\":\"particlerb-removable-client\",\"type\":\"installed\",\"secret\":\"f2f3668886db66c7f83aaff191574b4154da1f2a\",\"id\":\"particlerb-removable-client-7193\"}}"
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:08:31 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/clients/particlerb-removable-client-7193",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Sun, 10 Sep 2017 03:09:06 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}