{"http_interactions":[{"request":{"method":"delete","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:29 GMT"},{"request":{"method":"post","uri":"https://api.particle.io/v1/devices","body":{"encoding":"UTF-8","string":"{\"id\":\"__PARTICLE_DEVICE_ID_0__\"}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"user_id\": \"55958676f468f5cfd8000807\",\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"connected\": true,\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:30 GMT"}],"recorded_with":"VCR 2.9.3"}