{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/get","body":{"encoding":"UTF-8","string":"{\"arg\":\"\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"last_app\": \"\",\n  \"connected\": true,\n  \"return_value\": -2\n}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 19:36:48 GMT"}],"recorded_with":"VCR 2.9.3"}