{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/products/__PARTICLE_PRODUCT_ID_0__/firmware",
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string":"ACTUAL_BINARY"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "multipart/form-data; boundary=-----------RubyMultipartPost"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"updated_at\":\"2018-05-10T00:07:27.655Z\",\"uploaded_on\":\"2018-05-10T00:07:27.655Z\",\"uploaded_by\":{},\"version\":3,\"product_id\":__PARTICLE_PRODUCT_ID_0__,\"size\":39292,\"name\":\"spark_tinker.bin\",\"title\":\"Test Firmware Upload\",\"description\":\"upload description\",\"_id\":\"aaaaaaaaaaaaaaaaaaaaaaaa\",\"current\":false,\"product_default\":false,\"groups\":[]}"
        },
      },
      "recorded_at": "Thu, 10 May 2018 00:07:27 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
