{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/build_targets",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"wu/650YUM8Ma81ieEOlYkw==\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n  \"targets\": [\n    {\n      \"platforms\": [\n        0,\n        8,\n        6,\n        10\n      ],\n      \"prereleases\": [\n        0,\n        8,\n        6,\n        10\n      ],\n      \"firmware_vendor\": \"Particle\",\n      \"version\": \"0.6.0-rc.2\"\n    },\n    {\n      \"platforms\": [\n        103\n      ],\n      \"prereleases\": [],\n      \"firmware_vendor\": \"Bluz\",\n      \"version\": \"1.1.47\"\n    },\n    {\n      \"platforms\": [\n        103\n      ],\n      \"prereleases\": [],\n      \"firmware_vendor\": \"Bluz\",\n      \"version\": \"1.0.47\"\n    },\n    {\n      \"platforms\": [\n        0,\n        6,\n        8,\n        10\n      ],\n      \"prereleases\": [\n        0,\n        6,\n        8,\n      [...]
