{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/devices/1234",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"error\": \"Permission Denied\",\n  \"info\": \"I didn't recognize that device name or ID, try opening https://api.particle.io/v1/devices?access_token=undefined\"\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:47:00 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
