{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/products/__PARTICLE_PRODUCT_ID_0__/devices",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"updated\": 1, \"nonmemberDeviceIds\": [], \"invalidDeviceIds\": []}"
        },
      },
      "recorded_at": "Wed, 09 May 2018 20:11:10 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}