{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://api.particle.io/v1/webhooks/111111111111111111111111",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ok\":false,\"error\":\"Webhook not found\"}"
        },
      },
      "recorded_at": "Sun, 03 Jun 2018 20:41:25 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}