{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/access_tokens","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"8b-9264b72b\""]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"errors\": [\n    \"Unauthorized. You must send username and password in HTTP Basic Auth to view your access tokens.\"\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 19:54:30 GMT"},{"request":{"method":"get","uri":"https://invalid:invalid@api.particle.io/v1/access_tokens","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"37-bc614bf5\""]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"errors\": [\n    \"Unknown user\"\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 20:03:48 GMT"}],"recorded_with":"VCR 2.9.3"}