{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"{\"signal\":\"1\"}"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["application/json"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"code\": 500,\n  \"errors\": [\n    {\n      \"error\": \"Timed out, didn't hear back from device service\"\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 15 Jul 2015 14:05:52 GMT"}],"recorded_with":"VCR 2.9.3"}