{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"__PARTICLE_DEVICE_ID_0__\",\"name\":\"mydevice\",\"last_app\":null,\"last_ip_address\":\"00.00.000.000\",\"last_heard\":\"2018-05-16T09:17:12.266Z\",\"product_id\":1234,\"connected\":true,\"platform_id\":10,\"cellular\":true,\"notes\":null,\"status\":\"normal\",\"serial_number\":\"A123-123456-AB12-1\",\"iccid\":\"1111111111111111111\",\"last_iccid\":\"1111111111111111111\",\"imei\":\"111111111111111\",\"current_build_target\":\"0.6.4\",\"system_firmware_version\":\"0.6.4\",\"default_build_target\":\"0.6.4\",\"variables\":{},\"functions\":[\"reset\"],\"groups\":[],\"targeted_firmware_release_version\":null}"
        },
      },
      "recorded_at": "Sat, 19 May 2018 18:03:08 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
