{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\"; filename=\"bad_code.ino\"\r\nContent-Length: 47\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\nvoid setup() {\n}\n\nvoid loop() {\n  invalid++;\n}\n\r\n-------------RubyMultipartPost--\r\n\r\n"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\n  \"ok\": false,\n  \"errors\": [\n    {\n      \"ok\": false,\n      \"output\": \"Compiler timed out or encountered an error\",\n      \"stdout\": \"Building core-common-lib\\nmake[1]: Nothing to be done for `all'.\\n\\nBuilding core-communication-lib\\nmake[1]: Nothing to be done for `all'.\\n\\nBuilding user file: ../6eb186bcb19b82e8f365080559d7332e097110c7b61e352fd5b63e6735df/bad_code.cpp\\narm-none-eabi-g++ -DUSE_STDPERIPH_DRIVER -DSTM32F10X_MD -DDFU_BUILD_ENABLE -DSPARK -I\\\"../../core-common-lib/CMSIS/Include\\\" -I\\\"../../core-common-lib/CMSIS/Device/ST/STM32F10x/Include\\\" -I\\\"../../core-common-lib/STM32F10x_StdPeriph_Driver[...]
