{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"file\"; filename=\"bad_code.ino\"\r\nContent-Length: 47\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\nvoid setup() {\n}\n\nvoid loop() {\n  invalid++;\n}\n\r\n-------------RubyMultipartPost--\r\n\r\n"},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"output\": \"build didn't produce binary\",\n  \"stdout\": \"\",\n  \"errors\": [\n    \"bad_code.cpp: In function 'void loop()':\\nbad_code.cpp:5:3: error: 'invalid' was not declared in this scope\\n #line 1 \\n   ^\\nmake[1]: *** [../build/target/user/platform-6bad_code.o] Error 1\\nmake: *** [user] Error 2\\n\"\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 15 Jul 2015 13:51:28 GMT"}],"recorded_with":"VCR 2.9.3"}