{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/webhooks","body":{"encoding":"UTF-8","string":"{\"url\":\"https://example.com\",\"event\":\"68c57e6752d5e0a5\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"558d5ccbfc98c66474dfac1d\",\n  \"url\": \"https://example.com\",\n  \"event\": \"68c57e6752d5e0a5\",\n  \"created_at\": \"2015-06-26T14:08:11.006Z\",\n  \"hookUrl\": \"https://api.particle.io/v1/webhooks/558d5ccbfc98c66474dfac1d\",\n  \"ok\": true\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 14:08:11 GMT"},{"request":{"method":"delete","uri":"https://api.particle.io/v1/webhooks/558d5ccbfc98c66474dfac1d","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": true,\n  \"status\": \"Hook Deleted\"\n}"},"http_version":null},"recorded_at":"Fri, 26 Jun 2015 14:08:11 GMT"}],"recorded_with":"VCR 2.9.3"}