{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"fe-4d2299a1\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fried\",\n  \"connected\": true,\n  \"variables\": {\n    \"answer\": \"int32\"\n  },\n  \"functions\": [\n    \"toggle\"\n  ],\n  \"cc3000_patch_version\": \"1.28\",\n  \"product_id\": 0,\n  \"last_heard\": \"2015-07-02T20:50:16.964Z\"\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:50:30 GMT"}],"recorded_with":"VCR 2.9.3"}