{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"110-117c5809\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fiesta\",\n  \"connected\": true,\n  \"variables\": {\n    \"temp\": \"double\",\n    \"dc\": \"double\"\n  },\n  \"functions\": [\n    \"rssi\"\n  ],\n  \"cc3000_patch_version\": \"1.29\",\n  \"product_id\": 0,\n  \"last_heard\": \"2015-06-25T16:50:56.333Z\"\n}"},"http_version":null},"recorded_at":"Thu, 25 Jun 2015 16:50:56 GMT"}],"recorded_with":"VCR 2.9.3"}