{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"e6-8b245b38\""]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"name\": \"fiesta\",\n  \"connected\": true,\n  \"variables\": {},\n  \"functions\": [\n    \"toggle\"\n  ],\n  \"cc3000_patch_version\": \"1.29\",\n  \"product_id\": 0,\n  \"last_heard\": \"2015-06-29T13:36:30.345Z\"\n}"},"http_version":null},"recorded_at":"Mon, 29 Jun 2015 13:36:39 GMT"}],"recorded_with":"VCR 2.9.3"}