{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/answer","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":408,"message":"Request Time-out"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"1b-18302e8e\""]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"Timed out.\"\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 21:01:50 GMT"}],"recorded_with":"VCR 2.9.3"}