{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices","body":{"encoding":"UTF-8","string":"{\"id\":\"123456\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"errors\": [\n    \"device does not exist\"\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 23 Jun 2015 20:06:15 GMT"}],"recorded_with":"VCR 2.9.3"}