{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/toggle",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"arg\":\"\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"id\": \"__PARTICLE_DEVICE_ID_0__\",\n  \"last_app\": \"\",\n  \"connected\": true,\n  \"return_value\": 1\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 14:06:49 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
