{"http_interactions":[{"request":{"method":"post","uri":"https://api.particle.io/v1/devices","body":{"encoding":"UTF-8","string":"{\"id\":\"__PARTICLE_DEVICE_ID_0__\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"ok\": false,\n  \"errors\": [\n    [\n      \"Core isn't online\",\n      404\n    ]\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 23 Jun 2015 20:05:17 GMT"}],"recorded_with":"VCR 2.9.3"}
