{"http_interactions":[{"request":{"method":"get","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/answer","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"10a-839e2761\""]},"body":{"encoding":"UTF-8","string":"{\n  \"cmd\": \"VarReturn\",\n  \"name\": \"answer\",\n  \"result\": 42,\n  \"coreInfo\": {\n    \"last_app\": \"\",\n    \"last_heard\": \"2015-07-02T20:49:27.778Z\",\n    \"connected\": true,\n    \"last_handshake_at\": \"2015-07-02T20:48:54.689Z\",\n    \"deviceID\": \"__PARTICLE_DEVICE_ID_0__\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 02 Jul 2015 20:49:27 GMT"}],"recorded_with":"VCR 2.9.3"}