{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__/answer",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer __PARTICLE_ACCESS_TOKEN__"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"10a-cedb9fe2\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n  \"cmd\": \"VarReturn\",\n  \"name\": \"answer\",\n  \"result\": 42,\n  \"coreInfo\": {\n    \"last_app\": \"\",\n    \"last_heard\": \"2015-07-15T13:46:53.380Z\",\n    \"connected\": true,\n    \"last_handshake_at\": \"2015-07-15T13:45:58.861Z\",\n    \"deviceID\": \"__PARTICLE_DEVICE_ID_0__\"\n  }\n}"
        },
      },
      "recorded_at": "Wed, 15 Jul 2015 13:46:53 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
