{"http_interactions":[{"request":{"method":"put","uri":"https://api.particle.io/v1/devices/__PARTICLE_DEVICE_ID_0__","body":{"encoding":"UTF-8","string":"{\"file\":\"#<UploadIO:0x007f307e0c16f0>\"}"},"headers":{"Content-Type":["application/json"], "Authorization":["Bearer __PARTICLE_ACCESS_TOKEN__"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\n  \"error\": \"Nothing to do?\"\n}"},"http_version":null},"recorded_at":"Sun, 28 Jun 2015 14:13:37 GMT"}],"recorded_with":"VCR 2.9.3"}